.background--skyBlue {
  background-color: #dfe9ec;
}
.background--modal {
  background: rgba(0, 0, 0, 0.9);
}
.color--skyBlue {
  color: orange;
}
.color--cloud {
  color: rgb(236, 240, 241);
}
.color--grey {
  color: white;
}
.color--darkgrey{
  color: white;
}
.project {
  background-color: rgb(236, 240, 241);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/
html {
  /* font-size: 50%; */
}
body {
  font-family: 'Cardo', serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, li, a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}
p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
}

/*
  Helpers
*/
.margin--none {
  margin: 0;
}
.containerONE {
  margin: auto;
  width: 75%;
  text-align: center;
  /* background-color: #121b1e; */
}

/*
  Sections
*/
.section {
  font-size: 4.2rem;
  min-height: 40vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sectionTWO {
  font-size: 4.2rem;
  min-height: 50vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 2rem;
  vertical-align: middle;
}
.sectionTHREE {
  font-size: 3.2rem;
  min-height: 40vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  vertical-align: middle;
}
.section--alignCentered {
  text-align: center;
}
.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
}
.section__summary {
  font-size: 1.5rem;
  min-width: 30rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
  text-align: center;
}
h1.position {
  color: darkorange;
}

/*
Projects
*/
.project {
  height: 20rem;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 20px;
  background-color: white;
  background-image: url("../images/placeholder.jpg");
}
.projectDesc {
  font-size: 1rem;
}
.projectTitle {
  font-size: 3rem;
}
.toolSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: 0 auto;
}
.toolSection .tool{
  background-color: orange;
  color: white;
  font-weight: bolder;
  padding: .3rem;
  margin: .2rem;
  font-size: 1rem;
  border-radius: 5px;
  max-width: 200px;
  max-height: 50px;
  text-align: center;
}

hr.style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
hr.style-four {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
  Header
*/

.navbar {
  background-color: #0C0C0C;
  color: orange;
  height: 80px;
}
.navbar h2 {
  margin-top: 0;
  font-size: 3rem;
  float: left;
}
.nav-item a {
  font-size: 1rem;
  color: white;
  display: inline;
  margin-right: 1.5rem;
}
.nav-item a:hover{
  color: darkorange;
}
.jumbotron {
  padding-left: 20rem;
  padding-right: 20rem;
  background-image: url('../images/dark-clouds2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.name-header {
  height: 10rem;
}
.my_title {
  font-size: 1.5rem;
}
p.my-summary {
  font-size: 1.4rem;
}
.section--social ul {
  line-height: 10rem;
  list-style: inside;
  margin: auto;
}
.social {
  margin: .5rem;
}
.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}
.certsWrapper,
.certs {
  display: inline-block;
  height: 11rem;
  width: 11rem;
}
.certsWrapper, .eduWrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
.certs, .edu {
  /* border-radius: 100%; */
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.badges {
  width: 10rem;
  height: 10rem;
}
.logo {
  height: 60px;
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.acloudlogo {
  height: 70px;
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.eduWrapper,
.edu {
  display: inline-block;
  height: 15rem;
  width: 20rem;
}

.contact-info {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}
.profileImage {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}
ul {
  list-style: none;
  padding: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}
.brand {
  text-align: center;
}
.wrapper > * {
  padding: 1em;
}
.my-info {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.my-info h3 {
  width: 100%;
  margin: auto;
  padding-top: 2rem;
}
.my-info ul{
  display: inline-table;
}
.my-info li{
  display: inline;
}
.my-info i{
  color: #0C0C0C;
}
.contact {
  background: white;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label{
  display: block;
  text-align: left;
}
.contact form p{
  margin:0;
}
.contact form .full{
  grid-column: 1 / 3;
}
.contact form button, .contact form input {
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 70%;
}
.contact form textarea {
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid black;
  font-size: 70%;
}
.contact form button{
  background: orange;
  border: 0;
}

.contact form button:hover, contact form button:focus {
  background: #0C0C0C;
  color: #fff;
  outline: 0;
  transition: background-color .5s ease-out;
}

@media(min-width: 850px){
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > *{
    padding: 2em;
  }
  .sectionTWO {
    font-size: 4.2rem;
    min-height: 50vh;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 2rem;
    vertical-align: middle;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
  }
  .my-info h3, .my-info ul, .brand{
    text-align: left;
  }
  .project {
    height: 25rem;
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 20px;
    padding-bottom: 0;
    background-color: white;
    background-image: url('../images/placeholder.jpg');
  }
  .projectImage {
    display: relative;
    float: left;
    width: 30rem;
  }
  .projectTitle:hover {
    color: orange;
  }
  .projectDesc {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .projectTitle {
    font-size: 3.5rem;
  }
  .projectInfo {
    width: 50rem;
    margin: 0 auto;
  }
  .toolSection {
    /* width: 30rem; */
    margin: 0 auto;
  }
  .toolSection .tool{
    background-color: orange;
    color: white;
    font-weight: bolder;
    padding: .3rem;
    margin: .2rem;
    font-size: 1rem;
    border-radius: 5px;
    max-width: 200px;
    max-height: 50px;
  }
  .certsWrapper,
  .certs {
    display: inline-block;
    height: 15rem;
    width: 15rem;
  }
  .certsWrapper, .eduWrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .certs, .edu {
    /* border-radius: 100%; */
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  .badges {
    width: 15rem;
    height: 15rem;
  }
  .logo {
    height: 80px;
    width: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .acloudlogo {
    height: 100px;
    width: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .trainingSection {
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  .section__summary {
    font-size: 1.5rem;
    min-width: 60rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem;
  }
  .nav-item a {
    font-size: 1.5rem;
    color: white;
    margin-right: 2rem;
  }
  .nav-item a:hover{
    color: darkorange;
  }
  .title-size{
    font-size: 5rem;
    font-weight: bolder;
  }
}

/*
  Modal
*/
.main-modal {
  padding-top: 5rem;
}
.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 15rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  cursor: pointer;
}

.modal__text {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-decoration: none;
}
.modal__description {
  margin-top: 4rem;
}
.modal__title {
  margin-bottom: 3rem;
}
