.background--skyBlue {
  background-color: #dfe9ec;
}
.background--modal {
  background-color: black;
}
.color--skyBlue {
  color: orange;
}
.color--cloud {
  color: rgb(236, 240, 241);
}
.color--grey {
  color: white;
}
.color--darkgrey{
  color: white;
}
.project {
  background-color: rgb(236, 240, 241);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/
html {
  /* font-size: 50%; */
}
body {
  font-family: 'Cardo', serif;
  margin: 0;
  /* background-color: black; */
}
h1, h2, h3, h4, h5, h6, li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

/*
  Helpers
*/
.margin--none {
  margin: 0;
}
.containerONE {
  margin: auto;
  width: 75%;
  /* background-color: #121b1e; */
}

/*
  Sections
*/
.section {
  font-size: 4.2rem;
  min-height: 40vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sectionTWO {
  font-size: 4.2rem;
  min-height: 50vh;
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  vertical-align: middle;
}
.sectionTHREE {
  font-size: 4.2rem;
  min-height: 20vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  vertical-align: middle;
}
.section--alignCentered {
  text-align: center;
}
.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
}
.section__summary {
  font-size: 2rem;
  min-width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
}

/*
Projects
*/
.project {
  height: 30rem;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 20px;
  background-color: white;
}
.projectImage {
  margin-right: 15px;
  float: left;
  width: 30rem;
}
.projectDesc {
  font-size: 2rem;
}
.projectTitle {
  font-size: 3rem;
}
hr.style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*
  Header
*/

.navbar {
  background-color: black;
  color: orange;
  height: 100px;
}
.container-header {
  /* background-color: black; */
}
.jumbotron {
  padding-left: 20rem;
  padding-right: 20rem;
  /* background-color:transparent !important;
  color: inherit; */
  background-color: black;
}
.name-header {
  height: 12rem;
}
.section__heading--largest {
  float: left;
  font-size: 3rem;
  margin-left: 2rem;
}
.my_title {
  font-size: 1.5rem;
}
.section--social ul {
  line-height: 10rem;
  list-style: inside;
  margin: auto;
}
.social {
  margin: .5rem;
}
.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}
.project-title {
  text-align: center;
  vertical-align: middle;
}
.certsWrapper,
.certs {
  display: inline-block;
  height: 15rem;
  width: 15rem;
}
.certsWrapper, .eduWrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
.certs, .edu {
  /* border-radius: 100%; */
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.badges {
  width: 15rem;
  height: 15rem;
}
.logo {
  height: 80px;
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.acloudlogo {
  height: 100px;
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.eduWrapper,
.edu {
  display: inline-block;
  height: 15rem;
  width: 20rem;
}
/*
*{
  box-sizing: border-box;
} */

.contact-info {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 80%;
}

ul {
  list-style: none;
  padding: 0;
}
.brand {
  text-align: center;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}
.my-info {
  background-color: black;
  color: orange;
  font-size: 1.5rem;
  text-align: center;
}
.my-info h3 {
  width: 100%;
  margin: auto;
}
.my-info ul{
  display: inline-table;
}
.my-info li{
  display: inline;
}
.contact {
  background: #f9feff;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label{
  display: block;
  text-align: left;
}
.contact form p{
  margin:0;
}
.contact form .full{
  grid-column: 1 / 3;
}
.contact form button, .contact form input, .contact form textarea{
  width: 100%;
  height: 3rem;
  border: 1px solid #c9e6ff;
  font-size: 90%;
}
.contact form button{
  background: #c9e6ff;
  border: 0;
}

.contact form button:hover, contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

@media(min-width: 800px){
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding: 2em;
  }
  .my-info h3, .my-info ul, .brand{
    text-align: left;
  }
}

/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  curson: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}
