.background--skyBlue {
  background-color: rgba(52, 152, 219,0.1);
}
.color--skyBlue {
  color: rgb(52, 152, 219);
}
.color--cloud {
  color: rgb(236, 240, 241);
}
.color--grey {
  color: rgba(127, 140, 141,0.5);
}
.color--darkgrey{
  color: rgba(44, 62, 80,0.5);
}
.project {
  background-color: rgba(44, 62, 80,0.5);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/
html {
  font-size: 50%;
}
body {
  font-family: 'Cardo', serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

/*
  Helpers
*/
.margin--none {
  margin: 0;
}
.overflow--auto {
  overflow: auto;
  height: 12rem
}
.container {
  margin: auto;
  width: 75%;
}

/*
  Sections
*/
.section {
  font-size: 4.2rem;
  min-height: 40vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sectionTWO {
  font-size: 4.2rem;
  min-height: 30vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  vertical-align: middle;
}
.sectionTHREE {
  font-size: 4.2rem;
  min-height: 20vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  vertical-align: middle;
}
.section--alignCentered {
  text-align: center;
}
.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
}
.section__summary {
  font-size: 2rem;
  min-width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
}
.projectWrapper,
.project {
  display: inline-block;
  height: 25rem;
  width: 25rem;
}
.projectWrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}
.project {
  /* border-radius: 100%; */
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.projectTitle{
  font-size: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
.projectImage {
  opacity: 0.25;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}

/*
  Header
*/
.section__heading--largest {
  float: left;
  font-size: 3rem;
  margin-left: 2rem;
}
.my_title {
  font-size: 1.5rem;
}
.section--social {
  float: right;
  line-height: 10rem;
  margin-right: 2rem;
}
.social {
  margin-right: 0.75rem;
}
.socialWrapper:last-child .social {
  margin-right: 0;
}
.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}
.project-title {
  text-align: center;
  vertical-align: middle;
}






.certsWrapper,
.certs {
  display: inline-block;
  height: 15rem;
  width: 15rem;
}
.certsWrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}
.certs {
  /* border-radius: 100%; */
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.badge {
  width: 15rem;
  height: 15rem;
}
/*
*{
  box-sizing: border-box;
} */

.contact-info {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 80%;
}

ul {
  list-style: none;
  padding: 0;
}
.brand {
  text-align: center;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}
.my-info {
  background-color: rgba(52, 152, 219,0.1);
}
.my-info h3, .my-info ul{
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label{
  display: block;
  text-align: left;
}
.contact form p{
  margin:0;
}
.contact form .full{
  grid-column: 1 / 3;
}
.contact form button, .contact form input, .contact form textarea{
  width: 100%;
  height: 3rem;
  border: 1px solid #c9e6ff;
  font-size: 90%;
}
.contact form button{
  background: #c9e6ff;
  border: 0;
}

.contact form button:hover, contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

@media(min-width: 800px){
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding: 2em;
  }
  .my-info h3, .my-info ul, .brand{
    text-align: left;
  }
}

/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  curson: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}
